
<div class="container" style="position: relative;top: 180px;width: 30%;"> 
  <div class="col-xs-5 col-xs-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center; font-size: x-large; "> Form Demo</div>
      <div class="panel-body padding">
        <form [formGroup]="RegisterForm" >  
           <input type="text" formControlName="Fname" class="form-control" placeholder="First Name"/><br><br>
            <input type="text" formControlName="Lname" class="form-control" placeholder="Last Name"/> 
            <p>Complete the form to enable button.</p>
            <div class="row">
              <div class="col-sm-3">
                <button type="submit" [disabled]="!RegisterForm.valid" (click)="Submitted=true" class="btn btn-primary">Submit</button> 
              </div> 
              <span class="col-sm-5">    
                <button (click)="updateProfile()" class="btn btn-primary">Update Profile</button>
              </span> 
            </div>
        </form>
        <div [hidden]="!Submitted">
          <div class="row" style="margin-top: 10%;">
            <P>You have Submitted this:</P>
            <p> First Name: {{ this.RegisterForm.get('Fname').value }} </p>
            <p>Last Name: {{ this.RegisterForm.get('Lname').value }}</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>